<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanxum.jd.mobile.print.modules.busprintpdf.mapper.BusPrintPdfMapper" >
	<resultMap id="BaseResultMap" type="com.lanxum.jd.mobile.print.modules.busprintpdf.entity.BusPrintPdf" >
		<result column="Id" property="id" jdbcType="INTEGER" />
		<result column="ImportUrl" property="importUrl" jdbcType="VARCHAR" />
		<result column="ImportType" property="importType" jdbcType="VARCHAR" />
		<result column="ExportUrl" property="exportUrl" jdbcType="VARCHAR" />
		<result column="CreateDate" property="createDate" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List" >
		Id,
		ImportUrl,
		ImportType,
		ExportUrl,
		CreateDate
	</sql>
	
	<!-- 表名 -->
	<sql id="tbl_name">bus_print_pdf</sql>
	
	<!-- 根据主键查询记录 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
		select 
		<include refid="Base_Column_List" />
		from <include refid="tbl_name" />
		<where>
			<trim suffixOverrides="AND" >
				Id = #{id,jdbcType=INTEGER}
			</trim>
		</where>
	</select>

	<!-- 插入一条记录 -->
	<insert id="insert" parameterType="com.lanxum.jd.mobile.print.modules.busprintpdf.entity.BusPrintPdf" useGeneratedKeys="true" keyProperty="id"> 
		insert into <include refid="tbl_name" /> (
			ImportUrl,
			ImportType,
			ExportUrl,
			CreateDate
		)
		values 
		(
			#{importUrl,jdbcType=VARCHAR},
			#{importType,jdbcType=VARCHAR},
			#{exportUrl,jdbcType=VARCHAR},
			#{createDate,jdbcType=TIMESTAMP}
		)
	</insert>

	<!-- 插入一条记录（部分字段） -->
	<insert id="insertSelective" parameterType="com.lanxum.jd.mobile.print.modules.busprintpdf.entity.BusPrintPdf" > 
		insert into <include refid="tbl_name" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="importUrl != null">
				ImportUrl,
			</if>
			<if test="importType != null">
				ImportType,
			</if>
			<if test="exportUrl != null">
				ExportUrl,
			</if>
			<if test="createDate != null">
				CreateDate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="importUrl != null">
				#{importUrl,jdbcType=VARCHAR},
			</if>
			<if test="importType != null">
				#{importType,jdbcType=VARCHAR},
			</if>
			<if test="exportUrl != null">
				#{exportUrl,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<!-- 批量插入记录 -->
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List" > 
		insert into <include refid="tbl_name" /> (
			Id,
			ImportUrl,
			ImportType,
			ExportUrl,
			CreateDate
		)
		values
		<foreach collection="list" index="index" item="entity" separator=",">
		(
			#{entity.id,jdbcType=INTEGER},
			#{entity.importUrl,jdbcType=VARCHAR},
			#{entity.importType,jdbcType=VARCHAR},
			#{entity.exportUrl,jdbcType=VARCHAR},
			#{entity.createDate,jdbcType=TIMESTAMP}
		)
		</foreach>
	</insert>
	
	<!-- 根据主键删除数据 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
		delete from <include refid="tbl_name" />
		<where>
			<trim suffixOverrides="AND" >
				Id = #{id,jdbcType=INTEGER}
		    </trim>
		</where>
	</delete>
	
	<!-- 根据多个主键，批量删除数据 -->
	<delete id="deleteBatchByPKs" parameterType="java.lang.String" >
		delete from <include refid="tbl_name" />
	    <where>
			<trim suffixOverrides="AND" >
				Id in 
				<foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
				#{id}
				</foreach>
			</trim>
		</where>
	</delete>
	
	<!-- 根据主键，修改一条记录 -->
	<update id="updateByPrimaryKey" parameterType="com.lanxum.jd.mobile.print.modules.busprintpdf.entity.BusPrintPdf" >
		update <include refid="tbl_name" />
    	<trim prefix="set" suffixOverrides=","> 
			<if test="importUrl != null and importUrl != ''">
	    		ImportUrl = #{importUrl,jdbcType=VARCHAR},
	    	</if>
			<if test="importType != null and importType != ''">
	    		ImportType = #{importType,jdbcType=VARCHAR},
	    	</if>
			<if test="exportUrl != null and exportUrl != ''">
	    		ExportUrl = #{exportUrl,jdbcType=VARCHAR},
	    	</if>
			<if test="createDate != null">
	    		CreateDate = #{createDate,jdbcType=TIMESTAMP},
	    	</if>
		</trim> 
		where 
			Id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 根据主键，修改一条记录（部分字段） -->
	<update id="updateByPrimaryKeySelective" parameterType="com.lanxum.jd.mobile.print.modules.busprintpdf.entity.BusPrintPdf" >
		update <include refid="tbl_name" />
    	<trim prefix="SET" suffixOverrides=",">
			<if test="importUrl != null and importUrl != ''">
	    		ImportUrl = #{importUrl,jdbcType=VARCHAR},
	    	</if>
			<if test="importType != null and importType != ''">
	    		ImportType = #{importType,jdbcType=VARCHAR},
	    	</if>
			<if test="exportUrl != null and exportUrl != ''">
	    		ExportUrl = #{exportUrl,jdbcType=VARCHAR},
	    	</if>
			<if test="createDate != null">
	    		CreateDate = #{createDate,jdbcType=TIMESTAMP},
	    	</if>
		</trim> 
		where 
			Id = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 查询全部结果 -->
	<select id="queryAllData" resultMap="BaseResultMap" >
		select 
		<include refid="Base_Column_List" />
		from <include refid="tbl_name" />
	</select>
	
	<!-- 根据参数对象，查询结果 -->
	<select id="queryDataByModel" resultMap="BaseResultMap" parameterType="com.lanxum.jd.mobile.print.modules.busprintpdf.entity.BusPrintPdf" >
		select 
		<include refid="Base_Column_List" />
		from <include refid="tbl_name" />
	</select>
	
	<!-- 根据传入Model，查询结果列表 -->
	<select id="queryDataByParam" resultMap="BaseResultMap" parameterType="com.lanxum.jd.mobile.print.modules.busprintpdf.entity.BusPrintPdf" >
		select 
		<include refid="Base_Column_List" />
		from <include refid="tbl_name" />
		<where>
			<trim suffixOverrides="AND" >
				<if test="model.id != null">
					AND Id = #{model.id,jdbcType=INTEGER}
				</if>
				<if test="model.importUrl != null and model.importUrl != ''">
					AND ImportUrl = #{model.importUrl,jdbcType=VARCHAR}
				</if>
				<if test="model.importType != null and model.importType != ''">
					AND ImportType = #{model.importType,jdbcType=VARCHAR}
				</if>
				<if test="model.exportUrl != null and model.exportUrl != ''">
					AND ExportUrl = #{model.exportUrl,jdbcType=VARCHAR}
				</if>
				<if test="model.createDate != null">
					AND CreateDate = #{model.createDate,jdbcType=TIMESTAMP}
				</if>
			</trim>
		</where>
	</select>
	
	<!-- 根据传入where语句，查询结果列表 -->
	<select id="queryDataByWhere" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from <include refid="tbl_name" />
        <if test="where != null and where != ''">
            ${where}
        </if>
	</select>
	
	<!-- 根据传入Model，查询数据记录数 -->
	<select id="queryCountByParam" resultType="java.lang.Integer" parameterType="com.lanxum.jd.mobile.print.modules.busprintpdf.entity.BusPrintPdf" >
		select count(*)
		from <include refid="tbl_name" />
		<where>
			<trim suffixOverrides="AND" >
				<if test="model.id != null">
					AND Id = #{model.id,jdbcType=INTEGER}
				</if>
				<if test="model.importUrl != null and model.importUrl != ''">
					AND ImportUrl = #{model.importUrl,jdbcType=VARCHAR}
				</if>
				<if test="model.importType != null and model.importType != ''">
					AND ImportType = #{model.importType,jdbcType=VARCHAR}
				</if>
				<if test="model.exportUrl != null and model.exportUrl != ''">
					AND ExportUrl = #{model.exportUrl,jdbcType=VARCHAR}
				</if>
				<if test="model.createDate != null">
					AND CreateDate = #{model.createDate,jdbcType=TIMESTAMP}
				</if>
			</trim>
		</where>
	</select>
	
	<!-- 根据传入where语句，查询数据记录数 -->
	<select id="queryCountByWhere" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select count(*)
		from <include refid="tbl_name" />
		<if test="${where} != null and ${where} != ''">
			${where}
		</if>
	</select>
	
</mapper>
